// VIDEO 
.react-player {
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

//HERO for video
.conquest-hero {
    height: calc((100vw*9) /16);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
    object-fit: contain;
    position: relative;
  }

.conquest-header {
    display: block;
}

.credits {
    position: absolute;
    bottom: 0;
    align-items: center;
    opacity: 0.2;
}

// Features
.alt-features-item {
    position: relative;
    padding-left: 55px;
    margin: 65px 0 0 0;
}

.alt-features-icon {
    line-height: 1.2;
    font-size: 42px;
  }

.alt-features-icon {
    position: absolute;
    height: 40px;
    width: 40px;
    left: 0;
    top: 0;
    text-align: center;
    line-height: 40px;
    font-size: 28px;
}

// Positioning CSS
.conquest-flex-col {
    flex-direction: column;
}

.conquest-flex-row {
    flex-direction: row;
}

.conquest-title {
    font-size: 5rem !important;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

// Tropic Sunder Specific

// Tropic Sunder Specific
#tropic {

    h1, h2, h3, h4, h5, h6, .text-break {
        word-wrap: break-word;
        word-break: break-word;
        font-family: 'Graduate', sans-serif; 
      }

}

.tropic--primary {
    --ifm-hero-text-color: rgb(255, 255, 255) !important;
    background-image: 
      linear-gradient(rgba(0,0,0,0.1),
      rgba(0,0,0,0.65)),
      url("../../static/img/landing/tropic-bottom.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
  }
