.react-player {
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.conquest-hero {
    height: calc((100vw*9) /16);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    position: relative;
  }

.conquest-header {
    display: block;
}

.alt-features-item {
    position: relative;
    padding-left: 55px;
    margin: 65px 0 0 0;
}

.alt-features-icon {
    line-height: 1.2;
    font-size: 42px;
  }

.alt-features-icon {
    position: absolute;
    height: 40px;
    width: 40px;
    left: 0;
    top: 0;
    text-align: center;
    line-height: 40px;
    font-size: 28px;
}