// VIDEO 
.react-player {
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

//HERO for video
.conquest-hero {
    height: calc((100vw*9) /16);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
    object-fit: contain;
    position: relative;
  }

.conquest-header {
    display: block;
}

.credits {
    position: absolute;
    bottom: 0;
    align-items: center;
    opacity: 0.2;
}

// Features
.alt-features-item {
    position: relative;
    padding-left: 55px;
    margin: 65px 0 0 0;
    font-size: .85rem;
}

.alt-features-icon {
    line-height: 1.2;
    font-size: 42px;
  }

.alt-features-icon {
    position: absolute;
    height: 40px;
    width: 40px;
    left: 0;
    top: 0;
    text-align: center;
    line-height: 40px;
    font-size: 28px;
}

// Positioning CSS
.conquest-flex-col {
    flex-direction: column;
}

.conquest-flex-row {
    flex-direction: row;
}

.conquest-title {
    font-size: 5rem !important;
    color: #fff;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.middle {
    vertical-align: middle;
}

.imgwide {
    max-width: 100%;
    height: auto;
    }

.thin {
    padding: 0px;
}

@media screen and (max-width: 1080px) {

    .imgwide {
        max-width: 75%;
    }
}

// Tropic Sunder Specific
#tropic {

    h1, h2, h3, h4, h5, h6, .text-break {
        word-wrap: break-word;
        word-break: break-word;
        font-family: 'Graduate', sans-serif; 
      }
    
    h3 {
          font-size: 1.2rem;
      }

}

.tropic--primary {
    --ifm-hero-text-color: rgb(255, 255, 255) !important;
    background-image: 
      linear-gradient(rgba(0,0,0,0.1),
      rgba(0,0,0,0.65)),
      url("../../static/img/landing/tropic-bottom.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
  }

.conquest--primary {
    --ifm-hero-text-color: rgb(255, 255, 255) !important;
    background-image: 
      linear-gradient(rgba(0,0,0,0.1),
      rgba(0,0,0,0.65)),
      url("../../static/img/landing/conquest-bottom.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
  }

.death--primary {
    --ifm-hero-text-color: rgb(255, 255, 255) !important;
    background-image: 
      linear-gradient(rgba(0,0,0,0.1),
      rgba(0,0,0,0.65)),
      url("../../static/img/landing/death-bottom.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
  }

  // death's shadow Specific
#death {

    h1, h2, h3, h4, h5, h6, .text-break {
        word-wrap: break-word;
        word-break: break-word;
        font-family: 'Cormorant SC', sans-serif; 
      }
    
    h3 {
          font-size: 1.2rem;
      }

}

// Google Slides

.responsive-google-slides iframe {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 960px;
    max-height: 700px;
    height: 100%;
}

.responsive-google-slides {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-top: 75%;
}



@media screen and (max-width: 500px) {
    .conquest-title {
        font-size: 2rem !important;
        color: #fff;
    }
    #tropic, #death {
        .blog-title {
            font-size: 1.5rem !important;
          }
    }
}

@media screen and (max-width: 996px) {
    .conquest-title {
        font-size: 3rem !important;
        color: #fff;
    }
    #tropic, #death {
        .blog-title {
            font-size: 1.5rem !important;
          }
    }
}