.planch-button {
    width: 64px;
    cursor: pointer;
}

.board {
    background-image: url(../../static/img/hildira/SpiritBoardAutumnhearth.png);
    height:90vh;
    background-size: contain;
    background-repeat: no-repeat;
   //background-position: center;
    //margin: auto;
    padding: 10px;
    
}