.planch-button {
    width: 64px;
    cursor: pointer;
}

.board {
    background-image: url(../../static/img/hildira/SpiritBoardAutumnhearth.png);
    height: calc(0.816 * 100vw);
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10px;
    position: relative;
    
}

.board-credit {
    position: absolute;
    width: 100%;
    padding-top: 5px;
    z-index: 5;
}
