// VIDEO 
.react-player {
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

//HERO for video
.sonceri-hero {
  background-image: url("../../static/img/magesterium/magesterium.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    background-color: transparent !important;
    height: calc((100vw*9) /16);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
   //align-items: center;
    //box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
    object-fit: contain;
    position: relative;
    //z-index: 10;
    -webkit-mask-image: url("../../static/img/coth/landing-mask.png");
    mask-image: url("../../static/img/coth/landing-mask.png");
    mask-position: center bottom;
  }

.sonceri-header {
    display: block;
}

.credits {
    position: absolute;
    bottom: 0;
    align-items: center;
    opacity: 0.2;
}

.creditsdiv {
  position: absolute;
  bottom: 0;
  align-content: center;
  opacity: 0.4;
  font-size: .8rem;
}

// Features
.alt-features-item {
    position: relative;
    padding-left: 55px;
    margin: 65px 0 0 0;
    font-size: .85rem;
}

.alt-features-icon {
    line-height: 1.2;
    font-size: 42px;
  }

.alt-features-icon {
    position: absolute;
    height: 40px;
    width: 40px;
    left: 0;
    top: 0;
    text-align: center;
    line-height: 40px;
    font-size: 28px;
}

// spires
.mage-features-item {
  position: relative;
  //padding-left: 55px;
  margin: 10px 0 0 0;
  font-size: .85rem;
  max-width: 350px;
  h3 {
    text-align: center;
  }
}

.mage-features-icon {
  line-height: 1.2;
  font-size: 42px;
}

.mage-features-icon {
  //position: absolute;
  height: auto;
  width: auto;
  left: 0;
  top: 0;
  text-align: center;
  line-height: 40px;
  font-size: 28px;
}

.mage-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

// Positioning CSS
.sonceri-flex-col {
    flex-direction: column;
}

.sonceri-flex-row {
    flex-direction: row;
}

.sonceri-title {
    font-size: 4rem !important;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 2px #000000;  
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.center-align {
  align-content: center;
}

.middle {
    vertical-align: middle;
}

.grid-center {
    align-self: center;
}

.imgwide {
    max-width: 100%;
    height: auto;
    }

.img-responsive {
    object-fit: contain;
}

.responsive {
  width: 90%;
  max-width: 350px;
  height: auto;
}

.responsivecard {
  max-width: 250px;
  height: auto;
}

.thin {
    padding: 0px;
}

@media screen and (max-width: 1080px) {
    .imgwide {
        max-width: 75%;
    }
}

// tropic sunder
#tropic {

    h1, h2, h3, h4, h5, h6, .text-break {
        word-wrap: break-word;
        word-break: break-word;
        font-family: 'Graduate', sans-serif; 
      }
    
    h3 {
          font-size: 1.2rem;
      }

    .hero {
        padding: 4rem 2rem !important;
    }

    .hero-banner {
        text-align: left !important;
    }
}


.sonceri--primary {
    --ifm-hero-text-color: rgb(255, 255, 255) !important;
    background-image: 
      linear-gradient(rgba(0,0,0,0.4),
      rgba(0,0,0,0.7)),
      url("../../static/img/magesterium/mage-bottom.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
  }

.sonceri-banner {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  position: relative;
  z-index: 10;
}

  // Coalition Specific
#sonceri {

  h1, h2, h3, h4, h5, h6, .text-break {
      word-wrap: break-word;
      word-break: break-word;
      font-family: 'Cinzel Decorative', sans-serif; 
    }
  
  h3 {
        font-size: 1.5rem;
    }

  .hero {
      padding: 4rem 2rem !important;
  }

  .hero-banner {
      text-align: left !important;
  }
}

.genesis-events {
  --ifm-hero-text-color: rgb(255, 255, 255) !important;
  background-image: 
    url("../../static/img/coth/genesis-events.png") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: transparent;
  text-shadow: 2px 3px 3px rgb(0 0 0 / 50%)
}

// Lichfall
html[data-theme='dark'] .lichfall-events--primary {
    --ifm-hero-text-color: rgb(255, 255, 255) !important;
    background-image: 
      url("../../static/img/landing/lichfall-pvp-dark.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: transparent;
    text-shadow: 2px 3px 3px rgb(0 0 0 / 50%)
}

html[data-theme='light'] .lichfall-events--primary {
    --ifm-hero-text-color: rgb(3, 3, 3) !important;
    background-image: 
      url("../../static/img/landing/lichfall-pvp.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: transparent;
    //text-shadow: 2px 3px 3px rgb(0 0 0 / 50%)
}

// Google Slides

.responsive-google-slides iframe {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.responsive-google-slides {
    position: relative;
    padding-bottom: calc(1200 / 2000 * 100%);
    height: 0;
    overflow: hidden;
    margin-top: 20px;
}

.responsive-tall-google-slides iframe {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.responsive-tall-google-slides {
    position: relative;
    padding-bottom: calc(2000 / 1200 * 100%);
    height: 0;
    overflow: hidden;
    margin-top: 20px;
}

@media screen and (max-width: 500px) {
    .sonceri-title {
        font-size: 2rem !important;
        color: #fff;
    }
    #tropic, #death, #coalition {
        .blog-title {
            font-size: 1.5rem !important;
          }
    }
    grid-item:nth-child(1) { order: 1; grid-column: 1 / 3;}
    grid-item:nth-child(2) { order: 3; grid-column: 1 / 3; }
    grid-item:nth-child(3) { order: 2; }
    
    .sonceri-hero {
      background-image: url("../../static/img/magesterium/mage-sm.jpg") !important;
      //height: 8rem;
    }
}

@media screen and (max-width: 996px) {
    .sonceri-title {
        font-size: 3rem !important;
        color: #fff;
    }
    #tropic, #death, #coalition {
        .blog-title {
            font-size: 1.5rem !important;
          }
    }
    .sonceri-hero {
      background-image: url("../../static/img/magesterium/mage-med.jpg") !important;
      //height: 8rem;
    }
}

@media screen and (max-width: 800px) {
    grid-item:nth-child(1) { order: 1; }
    grid-item:nth-child(2) { order: 3; grid-column: 1 / 3; }
    grid-item:nth-child(3) { order: 2; }
}

.gallery {
    display: 'grid';
    grid-template-columns: '240px 171px 171px';
    grid-template-rows: '114px 114px';
    grid-gap: 12px;
}