// Styles for vampire

blockquote {
    color: #af0300;
    border-left: 3px solid #af0300;
}

.info-table {
    table {
      table-layout: auto;
      thead {
          display: none;
      }
      td:nth-child(1) {
          background-color: #5f0a0a !important;
          color: white;
          }
      tr:nth-child(2n) {
            background-color: transparent !important;
      }
    }
    
  }